{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'LocalizationBundle::main.html.twig' %}
        {% block main %}
            <div class="row">
                {% form_theme form 'MenuBundle::fields.html.twig' %}
                <div class="col-md-12">
                    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_errors(form) }}
                                {{ form_row(form.title,{
                                'label': 'Title'|trans({},'messages'),
                                }) }}
                                {{ form_rest(form) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well well-sm text-right">
                                    <input type="submit" class="btn btn-primary btn-sm" data-loading-text="Saving..."
                                           value="{{ 'Save'|trans({}, 'systems') }}"/>
                                    <a href="javascript:history.go(-1)"
                                       class="btn btn-default btn-sm">{{ 'Cancel'|trans({}, 'systems') }}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}