{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'LocalizationBundle::main.html.twig' %}
        {% block panelButtons %}
            <a href="{{ url('cms_localization_create') }}"
               class="btn btn-success btn-xs">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Add'|trans }}
            </a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{ 'Title'|trans({}, 'systems') }}</th>
                    <th>{{ 'Code'|trans({}, 'systems') }}</th>
                    <th>{{ 'Date'|trans({}, 'systems') }}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for locale in locales %}
                        <tr>
                            <td><input type="checkbox" value="{{ locale.id }}" name="mark[]"/></td>
                            <td>{{ locale.id }}</td>
                            <td>
                                <a href="{{ url('cms_localization_edit', {id: locale.id}) }}">
                                    {{ locale.title }}
                                </a>
                            </td>
                            <td>{{ locale.code }}</td>
                            <td>{{ locale.dateCreate|date('d.m.Y') }}</td>
                            <td><a href='{{ url('cms_localization_edit', {id: locale.id}) }}'><span
                                            class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{ url('cms_localization_delete', {id: locale.id}) }}'><span
                                            class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}