{% block form_row %}
    <div class="form-group clearfix">
        {{ form_label(form) }}
        <div class="col-md-8">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}

{% block widget_attributes %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ 'form-control'}) %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block form_label %}
    {% spaceless %}
        {% if label is not same as(false) %}
            {% if not compound %}
    {% set label_attr = label_attr|merge({'for': id}) %}
{% endif %}
            {% if required %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
{% endif %}
            {% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
            {% if label is iterable %}
    {% set label = label|locale %}
{% endif %}
            {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' col-sm-2 control-label'}) %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}:</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}
    
{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_label(child) }}{{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block cms_localization_text_type_widget %}
    {% for child in form %}
        {% if child.vars.name|lower != app.request.locale|lower %}
            {{ form_widget(child, {'attr': {'style':'display:none' }}) }}
        {% else %}
            {{ form_widget(child) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block cms_localization_textarea_type_widget %}
    {% for child in form %}
        {% if child.vars.name|lower != app.request.locale|lower %}
            {{ form_widget(child, {'attr': {'style':'display:none' }}) }}
        {% else %}
            {{ form_widget(child) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {% set label = choice.label %}

        {% if label is iterable %}
            {% set label = label|locale %}
        {% endif %}

        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ label|trans({}, translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{% block checkbox_widget %}
    {% spaceless %}
        {% if label is iterable %}
            {% set label = label|locale %}
        {% endif %}
        <input type="checkbox"
               name="{{ full_name }}" {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ label }}
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="list-unstyled">
                {% for error in errors %}
                    <li class="text-danger">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}