{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'LocalizationBundle::main.html.twig' %}
        {% block panelButtons %}
            <a href="{{ url('cms_localization_cities_create') }}"
               class="glyphicon glyphicon-plus btn btn-success btn-xs">{{ 'Add'|trans }}</a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for city in cities %}
                        <tr>
                            <td><input type="checkbox" value="{{ city.id }}" name="mark[]"/></td>
                            <td>{{ city.id }}</td>
                            <td>
                                <a href="{{ url('cms_localization_cities_edit', {id: city.id}) }}">
                                    {{ city.title|locale }}
                                </a>
                            </td>
                            <td>{{ city.dateCreate|date('d.m.Y') }}</td>
                            <td><a href='{{ url('cms_localization_cities_edit', {id: city.id}) }}'><span
                                            class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{ url('cms_localization_cities_delete', {id: city.id}) }}'><span
                                            class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}