{% if locales|length %}
    <div class="dropdown">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-expanded="true">
            {{ 'Language'|trans({},'systems') }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% for locale in locales %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1"
                       href="{{ app.request.baseUrl ~ app.request.pathInfo ~ '?_locale=' ~ locale.code }}">{{ locale.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}