{% if locales|length > 0 %}
    <ul class="nav nav-tabs locale-form-tabs">
        {% for locale in locales %}
            <li {% if locale.code|upper == app.request.locale|upper %}class="active"{% endif %}>
                <a href="" data-locale-change="{{ locale.code }}">{{ locale.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}